/*.php
!wp-config.php
build/node_modules
notes.log
wp-admin
!wp/wp-content
wp/wp-content/*
!wp-content/themes
wp/wp-content/themes/twentytwentyone
wp/wp-content/themes/twentytwentytwo
wp/wp-content/themes/twentytwentythree
wp/wp-content/themes/index.php
wp-includes
*.html